*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Varino-Normal ;
  src: url(../fonts/Varino/Varino\ -\ Normal.ttf);
}

body {
  background: url(../img/fondo-futurista.jpg) no-repeat center center fixed;
  width: 100%;
  background-size: cover;
  font-family: Varino-Normal;
}

/* .flags{
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flags_item img{
  width: 200px;
} */

h1 {
  color: whitesmoke;
  position: relative;
  /* background-color: rgba(246, 230, 230, 0.401); */
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.tittlebuttons{
  display: flex;
  flex-direction: column;
}

.buttons{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

button {
  background: #fff; /* color de fondo */
  color: #4741d7; /* color de fuente */
  font-size: 10px; /* tamaño de fuente */
  margin: auto;
  width: auto;
  height: auto;
  border: 10px #4741d7; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.button-login:hover {
    color: #fff;/* color de fuente hover */
  }
  
.button-login::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }

.button-login:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }

.button-aineth:hover {
    color: #fff;/* color de fuente hover */
  }
  
.button-aineth::after {
    content: "";
    background: #4741d7; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.3s ease;
  }

.button-aineth:hover::after {
    transition: all 0.3s ease-out;
    transform: skewX(-45deg) scale(1, 1);
  }



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.hidden {
  display: none;
}

label {
  font-size: 20px;
  color: white;
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input{
  font-size: 15px;
  border-radius: 10px;
  width: auto;
  height: auto;
  color: #4741d7
}

.blue-text {
  color: blue;
}

.formulario {
  display: flex;
  justify-content: center;
  }

@media (min-width: 768px) {
  h1 {
    color: whitesmoke;
    position: relative;
    /* background-color: rgba(246, 230, 230, 0.401); */
    font-size: 50px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    padding: 20px;
  }

  button {
    background: #fff; /* color de fondo */
    color: #4741d7; /* color de fuente */
    font-size: 30px; /* tamaño de fuente */
    margin: auto;
    width: auto;
    height: auto;
    border: 10px #4741d7; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
  }

  label {
    font-size: 30px;
    color: white;
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  input{
    font-size: 30px;
    border-radius: 10px;
    width: auto;
    height: auto;
    color: #4741d7
  }

}

